body {
    background: darkred;
    max-width: 1200px;
    color: #f2f2f2;
    margin: auto;
    line-height: 1.6;
    font-size: 18px;
    padding: 0 10px;
    overflow: scroll;
}

h1, h2, h3 {
    text-align: center;
    line-height: 1.2
}

input[type=text] {
    background-color: #5e5e5e;
    color: #f2f2f2;
    border: none;
    border-bottom: 2px solid #ba0000;
}

input[type=button] {
    background-color: #ba0000;
    border: none;
    color: #f2f2f2;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


.prettyTable {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    width: auto;

    border-collapse: collapse;
}
form{
    display: inline-block;
    text-align: center;
}
#VehicleTable tr > *:nth-child(1) {
    display: none;
}
#MPGTable tr > *:nth-child(1) {
    display: none;
}
#MPGeTable tr > *:nth-child(1) {
    display: none;
}
.hide{
    display: none;
}
.container {
    display: flex;
}
.container > div {
    flex: 1; /*grow*/
}

.prettyTable th, td {
    border-bottom: 1px solid #ddd;
    text-align: center;
    padding: 5px;
}

.prettyTable tr:nth-child(even) {
    background-color: #5e5e5e
}

.prettyTable th {
    background-color: #ba0000;
    color: #f2f2f2;
}


/* unvisited link */
a:link {
    color:black;
}

/* visited link */
a:visited {
    color: gray;
}

/* mouse over link */
a:hover {
    color: lightcoral;
}

/* selected link */
a:active {
    color: coral;
}